.row-style {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
}

.inner-style {
    margin: 25px;
}
.hover-card hover{
    background-color:#99FFFF;
}
.hover-card{
    padding-top:20px;
}
