

.loginScreen__background {
    background-color: #fff;
    width: 100%;
    height: 700px;
    position: relative;
    background-image: url("https://www.its.de/pibe-media/itsy/hotel/GN0502_S21_4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.loginScreen__body {
    z-index: 1;
    color: #fff;
    padding: 20px;
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 100%;
}

.loginScreen__body>h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen__body>h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 400;
}

.loginScreen__body>h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen__gradient {
    width: 100%;
    z-index: 1;
    height: 100rem;
}




.loginScreen__input {
    margin: 20px;
}

.loginScreen__input>form>input {
    padding: 10px;
    height: 29px;
    width: 30%;
    max-width: 600px;
    border: none;
    outline-width: 0;
    color: black;
}

.loginScreen__getStarted {
    padding: 15px 20px;
    padding-bottom: 16px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.err_message {
    color: red;
}

.signupScreen__link {
    cursor: pointer;
}

input {
    color: #0c0c0c;
}